
.rose-textarea {
	font-family:FontAwesome,sans-serif;
	font-size:16px;
	resize:none;
	display:inline-block; 
	width:100%;
}

.markdown {
	display:inline-block; 
	min-height:100%;
	width:100%;
}

/*
.rose-textarea:focus {
	background-color:white;
	border-color:none;
}
*/

/* left numerotation */
.ui.tiny.label {
	float: left;
	margin-top:12px;
}

.ui.fluid.input input {
	font-family:FontAwesome,sans-serif;
	font-weight: bold;
	background-color:gainsboro;
	color:black;
}

.ui.transparent.input input {
	font-family:FontAwesome,sans-serif;
	font-size:large;
}

.ui.transparent.input input:focus {
	font-family:FontAwesome,sans-serif;
	font-size:large;
}

