
<span id="top-of-page"></span>

<div class="ui active dimmer" *ngIf="loaderService.isLoading()">
    <div class="ui large text loader">
		Please wait while setting your session...
  </div>
</div>

<h4 class="ui center aligned header" style="position:relative;top:200px;" *ngIf="!authService.isAuthenticated()">
                <p>Please login to access to your documents<p>
                <div><a class="ui primary button" (click)="login()">Log in</a></div>
</h4>

<div *ngIf="authService.isAuthenticated()" class="ui divided list" style="position:relative;top:100px;">
 <!-- LIST OF ROWS -->          
 <div class="item" *ngFor="let line of lines$ | async; let i = index">
	<!-- SECTION -->
		<i *ngIf="line.section" (click)="addNewRow(i)" class="violet icon pencil" style="cursor:pointer;position:relative;top:-9px;float:right;right:-4px;" ></i>
		<i *ngIf="line.section" (click)="deleteSection(line.text.line[0].id)" class="violet icon remove" 
			style="cursor:pointer;position:relative;top:-9px;float:right;right:-4px;"></i>
		<div class="ui item fourteen wide column" *ngIf="line.section">
		 <div id="{{line.section.starttextid}}" class="ui fluid input">
  		  <input type="text" #box (keyup.enter)="updateSection(line.text.line[0].id, box.value)" [value]="line.section.title" >
		 </div>
		</div>
	<!-- GRID WITHIN THE LINE -->
	<div class="ui divided grid">
	  <!-- COL 0 -->
          <div *ngIf="currentEdition==i && currentCol==0; then textareaId0 else markdownId0" > 
	  </div>
          	<ng-template #textareaId0 > 
		  <div class="ui tiny label" style="float:left;">{{("0000" + (i+1)).slice(-4)}}</div> 
		  <div class="five wide column">
        	  	<textarea rosetextarea class="rose-textarea" 
			autosize (focusOnMe)="$event.focus()" 
			(blur)="currentEdition=-1; updateIfChanged(line.text,0)" 
			[ngModel]="line.text.line[0].content"
			(ngModelChange)="line.text.line[0].content=$event;line.text.dirty[0]=true"> </textarea>
		  </div>
      		</ng-template>
      		<ng-template #markdownId0 > 
		   <div class="ui tiny label" style="float:left;">{{("0000" + (i+1)).slice(-4)}}</div> 
		   <div class="five wide column">
        		<markdown class="markdown"
        		[data]="line.text.line[0].content" pDraggable="a-text" pDroppable="a-text" (onDrop)="myDrop(line.text.line[0],$event)" 
			(onDragStart)="dragStart($event,line.text.line[0])" (onDragEnd)="dragEnd($event)" (click)="currentEdition=i;currentCol=0;"> </markdown>
		   </div>
      		</ng-template>
	  <!-- COL 1 -->
          <div *ngIf="currentEdition==i && currentCol==1; then textareaId1 else markdownId1" > 
	  </div>
          	<ng-template #textareaId1 > 
		  <div class="five wide column">
        	  	<textarea rosetextarea class="rose-textarea" autosize (focusOnMe)="$event.focus()"
			(blur)="currentEdition=-1; updateIfChanged(line.text,1)" 
			[ngModel]="line.text.line[1].content"
			(ngModelChange)="line.text.line[1].content=$event;line.text.dirty[1]=true"> </textarea>
		  </div>
      		</ng-template>
      		<ng-template #markdownId1 > 
		   <div class="five wide column">
			<i>
        		<markdown class="markdown"
        		[data]="line.text.line[1].content" pDraggable="a-text" pDroppable="a-text" (onDrop)="myDrop(line.text.line[1],$event)" 
			(onDragStart)="dragStart($event,line.text.line[1])" (onDragEnd)="dragEnd($event)" (click)="currentEdition=i;currentCol=1;"> </markdown>
			</i>
		   </div>
      		</ng-template>
	  <!-- COL 2 -->
          <div *ngIf="currentEdition==i && currentCol==2; then textareaId2 else markdownId2" > 
	  </div>
          	<ng-template #textareaId2 > 
		  <div class="four wide column">
        	  	<textarea rosetextarea class="rose-textarea" autosize (focusOnMe)="$event.focus()"
			(keydown.Tab)="addNewRow(i+1)"
			(blur)="currentEdition=-1; updateIfChanged(line.text,2)" 
			[ngModel]="line.text.line[2].content"
			(ngModelChange)="line.text.line[2].content=$event;line.text.dirty[2]=true"> </textarea>
		  </div>
      		</ng-template>
      		<ng-template #markdownId2 > 
		   <div class="four wide column">
		    <i *ngIf="!line.section" (click)="addNewRow(i)" class="violet icon pencil" style="cursor:pointer;position:relative;top:-9px;float:right;right:-30px;" ></i>
		    <i *ngIf="!line.section" (click)="deleteRow(i)" class="violet icon remove" style="cursor:pointer;position:relative;top:-9px;float:right;right:-30px;"></i>
		    <i *ngIf="!line.section" (click)="insertSection(line.text.line[0].id)" 
			class="violet icon paragraph" style="cursor:pointer;position:relative;top:-9px;float:right;right:-30px;" ></i>
        		<markdown class="markdown"
        		[data]="line.text.line[2].content" pDraggable="a-text" pDroppable="a-text" (onDrop)="myDrop(line.text.line[2],$event)" 
			(onDragStart)="dragStart($event,line.text.line[2])" (onDragEnd)="dragEnd($event)" (click)="currentEdition=i;currentCol=2;"> </markdown>
		   </div>
      		</ng-template>
	</div> <!-- END OF GRID -->
    </div> <!-- end of list -->
</div>
